/scihub-cn-master/downloads/
*.Ds_Store
.idea
.idea/inspectionProfiles/
.idea/vcs.xml
scihub-cn-master/.DS_Store
scihub-cn-master/notdownload.txt
scihub-cn-master/scihub/.DS_Store
scihub-cn-master/scihub/__pycache__/
/UESTC_Scrapy/data_past
/UESTC_Scrapy/build
/UESTC_Scrapy/Outcome_8.1
/UESTC_Scrapy/task_10_23
/UESTC_Scrapy/output_国防生(通工).txt
/UESTC_Scrapy/output_国防生(电工).txt
/UESTC_Scrapy/output_网络工程.txt
/UESTC_Scrapy/output_物联网工程.txt
/UESTC_Scrapy/output_电工&信抗.txt
/UESTC_Scrapy/output_通信工程.txt
/UESTC_Scrapy/frame.png
/UESTC_Scrapy/g2frame.png
/UESTC_Scrapy/grade_all_2.xls
/UESTC_Scrapy/bframe.png
/UESTC_Scrapy/raw_data.xlsx
/UESTC_Scrapy/verify.png
/UESTC_Scrapy/output.txt
/UESTC_Scrapy/output_Sheet1.txt
